.main-container {
  color: rgb(64, 152, 253);
}

.SU-SI-Container {
  background-color: rgb(247, 247, 167);
  margin: 50px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgb(139, 139, 63);
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

input.auth-input {
  border-radius: 10px;
  margin: 0 0 20px;
  border: 0.3px solid rgb(64, 152, 253);
}

button.auth-button {
  margin-top: 20px;
  padding: 4px 0;
  width: 150px;
  background-color: rgb(246, 246, 225);
  border: 0.5px solid rgb(139, 139, 63);
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgb(139, 139, 63);
  color: rgb(21, 97, 184);
}

input[type="text"],
input[type="password"] {
  color: rgb(64, 152, 253);
  position: relative;
  text-indent: 10px;
}

input::placeholder {
  color: rgb(64, 152, 253);
  position: relative;
}
