* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
  letter-spacing: -0.5px;
}

.App {
  background-color: #282c34;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.phone {
  position: relative;
  background-color: #17181c;
  height: 60vh;
  min-height: 550px;
  width: 50vw;
  min-width: 320px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 20px;
  gap: 10px;
  overflow: hidden;
}

#header {
  position: absolute;
  background-color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  border-bottom: 2px solid lightgray;
}

#header h1 {
  font-size: 34px;
  font-weight: 800;
}

.posts {
  padding-top: 70px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  text-align: center;
  gap: 10px;
  width: 100%;
  overflow: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}

.posts::-webkit-scrollbar {
  display: none;
}

form {
  width: 100%;
  position: relative;
}

#image-upload {
  display: none;
}

.image-upload img {
  height: 30px;
  width: 30px;
  min-width: 0;
  padding: 5px;
  padding-top: 7px;
  border-radius: 15px;
}

input[type="text"] {
  font-size: 20px;
  width: 100%;
  height: 36px;
  border-radius: 18px;
  border: none;
  padding: 15px 40px;
}

input[type="text"]::placeholder {
  color: rgb(0, 0, 0, 0.3);
}

input[type="submit"],
.image-upload {
  position: absolute;
  height: 30px;
  width: 30px;
  margin: auto;
  top: 0;
  bottom: 0;
  border-radius: 18px;
  border: none;
  background-color: #1982fc;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

input[type="submit"] {
  right: 3px;
}

.image-upload {
  left: 3px;
  font-size: 25px;
  padding-bottom: 4px;
}

.complete {
  background: green;
}

input:focus {
  outline: none;
}
