.App {
  text-align: center;
  background-color: #dbd0c9;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #dbd0c9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: black;
}

/*Own CSS*/
.MuiInputBase-input {
  background: papayawhip;
}

.MuiTextField-root {
  background: papayawhip;
}

.align_center {
  text-align: center;
  display: flex;
  justify-content: center !important;
}

.login_signup_buttons {
  display: flex;
  /* flex-direction: column;
  align-items: center; */
}
