@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Leckerli+One&family=Montserrat:wght@300;400;500&family=Rochester&family=Ubuntu:wght@300&display=swap");
h2 {
  font-family: "Rochester", cursive;
  font-size: 2.5rem;
  margin-top: 0%;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 45px;
  border: 1px solid rgb(215, 214, 214);
  text-align: center;
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  border-radius: 5px;
  background: #fbfbfb;
  width: 100%;
  border: 0;
  margin: 0 0 10px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid rgb(215, 214, 214);
  font-size: 12px;
}

.form button {
  font-family: "Roboto", sans-serif;
  border-radius: 10px;
  outline: 0;
  font-weight: 550;
  background: #62bbde;
  margin-top: 15px;
  width: 100%;
  border: 0;
  padding: 10px;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
}

.form button:hover,
.form button:active {
  background: #68bbcc;
}

.form .message {
  font-family: "Roboto", sans-serif;
  margin-top: 25px;
  color: #504f4f;
  font-size: 14px;
}

.form .message a {
  font-family: "Roboto", sans-serif;
  color: #62bbde;
  text-decoration: none;
  font-weight: 600;
  margin-left: 8px;
}
